{"openapi":"3.0.3","info":{"title":"Stytch API","description":"The Stytch API provides endpoints for authentication and user management.","version":"2.0.0","contact":{"name":"Stytch Support","url":"https://stytch.com/docs","email":"support@stytch.com"}},"servers":[{"url":"https://api.stytch.com","description":"Production server"},{"url":"https://test.stytch.com","description":"Test server"}],"security":[{"basicAuth":[]}],"paths":{"/v1/connected_apps/clients/{client_id}":{"get":{"summary":"Get","operationId":"api_connectedapps_v1_connected_apps_clients_Get","tags":["Connected Apps"],"description":"Retrieve details of a specific Connected App by \u0060client_id\u0060.","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the Connected App client."},"description":"The ID of the Connected App client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_GetResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// GET /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleConnectedAppClientID}\u0022,\n};\n\nclient.ConnectedApp.Clients.Get(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// GET /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026clients.GetParams{\n\t\tClientID: \u0022${exampleConnectedAppClientID}\u0022,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Get(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// GET /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.GetRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        GetRequest params = new GetRequest();\n        params.setClientId(\u0022${exampleConnectedAppClientID}\u0022);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().get(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// GET /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclients.GetRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.get(\n                GetRequest(\n                    clientId = \u0022${exampleConnectedAppClientID}\u0022,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// GET /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleConnectedAppClientID}\u0022,\n};\n\nclient.connectedApp.clients.get(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Eget([\n    \u0027client_id\u0027 =\u003E \u0027${exampleConnectedAppClientID}\u0027,\n]);"},{"lang":"python","label":"Python","source":"# GET /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.get(\n    client_id=\u0022${exampleConnectedAppClientID}\u0022,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# GET /v1/connected_apps/clients/{client_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.get(\n  client_id: \u0022${exampleConnectedAppClientID}\u0022\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// GET /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::GetRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.get(\n        GetRequest{\n            client_id: \u0022${exampleConnectedAppClientID}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# GET /v1/connected_apps/clients/{client_id}\ncurl --request GET \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleConnectedAppClientID} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027"}]},"put":{"summary":"Update","operationId":"api_connectedapps_v1_connected_apps_clients_Update","tags":["Connected Apps"],"description":"Updates mutable fields of a Connected App. Cannot update Client Type, Client ID, or Secrets.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateRequest"}}}},"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the client."},"description":"The ID of the client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// PUT /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0022https://example.com/callback\u0022],\n  full_access_allowed: false,\n};\n\nclient.ConnectedApp.Clients.Update(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// PUT /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026clients.UpdateParams{\n\t\tClientID:          \u0022${exampleM2MClientID}\u0022,\n\t\tClientName:        \u0022My Sample Client\u0022,\n\t\tClientDescription: \u0022My sample client for testing out Connected Apps\u0022,\n\t\tRedirectURLs:      []string{\u0022https://example.com/callback\u0022},\n\t\tFullAccessAllowed: false,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Update(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// PUT /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.UpdateRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        UpdateRequest params = new UpdateRequest();\n        params.setClientId(\u0022${exampleM2MClientID}\u0022);\n        params.setClientName(\u0022My Sample Client\u0022);\n        params.setClientDescription(\u0022My sample client for testing out Connected Apps\u0022);\n        params.setRedirectURLs(new String(\u0022https://example.com/callback\u0022));\n        params.setFullAccessAllowed(false);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().update(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// PUT /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclients.UpdateRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.update(\n                UpdateRequest(\n                    clientId = \u0022${exampleM2MClientID}\u0022,\n                    clientName = \u0022My Sample Client\u0022,\n                    clientDescription = \u0022My sample client for testing out Connected Apps\u0022,\n                    redirectURLs = arrayOf(\u0022https://example.com/callback\u0022),\n                    fullAccessAllowed = false,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// PUT /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0022https://example.com/callback\u0022],\n  full_access_allowed: false,\n};\n\nclient.connectedApp.clients.update(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Eupdate([\n    \u0027client_id\u0027 =\u003E \u0027${exampleM2MClientID}\u0027,\n    \u0027client_name\u0027 =\u003E \u0027My Sample Client\u0027,\n    \u0027client_description\u0027 =\u003E \u0027My sample client for testing out Connected Apps\u0027,\n    \u0027redirect_urls\u0027 =\u003E [\u0027https://example.com/callback\u0027],\n    \u0027full_access_allowed\u0027 =\u003E false,\n]);"},{"lang":"python","label":"Python","source":"# PUT /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.update(\n    client_id=\u0022${exampleM2MClientID}\u0022,\n    client_name=\u0022My Sample Client\u0022,\n    client_description=\u0022My sample client for testing out Connected Apps\u0022,\n    redirect_urls=[\u0022https://example.com/callback\u0022],\n    full_access_allowed=False,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# PUT /v1/connected_apps/clients/{client_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.update(\n  client_id: \u0022${exampleM2MClientID}\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0027https://example.com/callback\u0027],\n  full_access_allowed: false\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// PUT /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::UpdateRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.update(\n        UpdateRequest{\n            client_id: \u0022${exampleM2MClientID}\u0022,\n            client_name: Some(String::from(\u0022My Sample Client\u0022)),\n            client_description: Some(String::from(\u0022My sample client for testing out Connected Apps\u0022)),\n            redirect_urls: vec![\u0022https://example.com/callback\u0022],\n            full_access_allowed: false,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# PUT /v1/connected_apps/clients/{client_id}\ncurl --request PUT \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -d \u0027{\n    \u0022client_name\u0022: \u0022My Sample Client\u0022,\n    \u0022client_description\u0022: \u0022My sample client for testing out Connected Apps\u0022,\n    \u0022redirect_urls\u0022: [\u0022https://example.com/callback\u0022],\n    \u0022full_access_allowed\u0022: false\n  }\u0027"}]},"delete":{"summary":"Delete","operationId":"api_connectedapps_v1_connected_apps_clients_Delete","tags":["Connected Apps"],"description":"Deletes a Connected App.","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the client."},"description":"The ID of the client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_DeleteResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// DELETE /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.ConnectedApp.Clients.Delete(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// DELETE /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026clients.DeleteParams{\n\t\tClientID: \u0022${exampleM2MClientID}\u0022,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Delete(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// DELETE /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.DeleteRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        DeleteRequest params = new DeleteRequest();\n        params.setClientId(\u0022${exampleM2MClientID}\u0022);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().delete(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// DELETE /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclients.DeleteRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.delete(\n                DeleteRequest(\n                    clientId = \u0022${exampleM2MClientID}\u0022,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// DELETE /v1/connected_apps/clients/{client_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.connectedApp.clients.delete(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Edelete([\n    \u0027client_id\u0027 =\u003E \u0027${exampleM2MClientID}\u0027,\n]);"},{"lang":"python","label":"Python","source":"# DELETE /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.delete(\n    client_id=\u0022${exampleM2MClientID}\u0022,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# DELETE /v1/connected_apps/clients/{client_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.delete(\n  client_id: \u0022${exampleM2MClientID}\u0022\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// DELETE /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::DeleteRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.delete(\n        DeleteRequest{\n            client_id: \u0022${exampleM2MClientID}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# DELETE /v1/connected_apps/clients/{client_id}\ncurl --request DELETE \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027"}]}},"/v1/connected_apps/clients/search":{"post":{"summary":"Search","operationId":"api_connectedapps_v1_connected_apps_clients_Search","tags":["Connected Apps"],"description":"Search for Connected Apps. Supports cursor-based pagination. Specific filters coming soon.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/connected_apps/clients/search\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  limit: 10,\n};\n\nclient.ConnectedApp.Clients.Search(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/connected_apps/clients/search\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026clients.SearchParams{\n\t\tLimit: 10,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Search(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// POST /v1/connected_apps/clients/search\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.SearchRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        SearchRequest params = new SearchRequest();\n        params.setLimit(10);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().search(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// POST /v1/connected_apps/clients/search\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclients.SearchRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.search(\n                SearchRequest(\n                    limit = 10,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// POST /v1/connected_apps/clients/search\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  limit: 10,\n};\n\nclient.connectedApp.clients.search(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Esearch([\n    \u0027limit\u0027 =\u003E 10,\n]);"},{"lang":"python","label":"Python","source":"# POST /v1/connected_apps/clients/search\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.search(\n    limit=10,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# POST /v1/connected_apps/clients/search\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.search(\n  limit: 10\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// POST /v1/connected_apps/clients/search\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::SearchRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.search(\n        SearchRequest{\n            limit: 10,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# POST /v1/connected_apps/clients/search\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/search \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -d \u0027{\n    \u0022limit\u0022: 10\n  }\u0027"}]}},"/v1/connected_apps/clients":{"post":{"summary":"Create","operationId":"api_connectedapps_v1_connected_apps_clients_Create","tags":["Connected Apps"],"description":"Creates a new Connected App. If the Connected App \u0060client_type\u0060 is \u0060first_party\u0060 or \u0060third_party\u0060 a \u0060client_secret\u0060 is returned.\n\n**Important:** This is the only time you will be able to view the generated \u0060client_secret\u0060 in the API response. Stytch stores a hash of the \u0060client_secret\u0060 and cannot recover the value if lost. Be sure to persist the \u0060client_secret\u0060 in a secure location. If the \u0060client_secret\u0060 is lost, you will need to trigger a secret rotation flow to receive another one.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/connected_apps/clients\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_type: \u0022first_party\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0022https://example.com/callback\u0022],\n  full_access_allowed: false,\n};\n\nclient.ConnectedApp.Clients.Create(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/connected_apps/clients\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026clients.CreateParams{\n\t\tClientType:        clients.CreateRequestClientTypeFirstParty,\n\t\tClientName:        \u0022My Sample Client\u0022,\n\t\tClientDescription: \u0022My sample client for testing out Connected Apps\u0022,\n\t\tRedirectURLs:      []string{\u0022https://example.com/callback\u0022},\n\t\tFullAccessAllowed: false,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Create(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// POST /v1/connected_apps/clients\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequest;\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequestClientType;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        CreateRequest params = new CreateRequest();\n        params.setClientType(CreateRequestClientType.FIRST_PARTY);\n        params.setClientName(\u0022My Sample Client\u0022);\n        params.setClientDescription(\u0022My sample client for testing out Connected Apps\u0022);\n        params.setRedirectURLs(new String(\u0022https://example.com/callback\u0022));\n        params.setFullAccessAllowed(false);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().create(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// POST /v1/connected_apps/clients\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequest\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequestClientType\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.create(\n                CreateRequest(\n                    clientType = CreateRequestClientType.FIRST_PARTY,\n                    clientName = \u0022My Sample Client\u0022,\n                    clientDescription = \u0022My sample client for testing out Connected Apps\u0022,\n                    redirectURLs = arrayOf(\u0022https://example.com/callback\u0022),\n                    fullAccessAllowed = false,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// POST /v1/connected_apps/clients\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_type: \u0022first_party\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0022https://example.com/callback\u0022],\n  full_access_allowed: false,\n};\n\nclient.connectedApp.clients.create(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Ecreate([\n    \u0027client_type\u0027 =\u003E \u0027first_party\u0027,\n    \u0027client_name\u0027 =\u003E \u0027My Sample Client\u0027,\n    \u0027client_description\u0027 =\u003E \u0027My sample client for testing out Connected Apps\u0027,\n    \u0027redirect_urls\u0027 =\u003E [\u0027https://example.com/callback\u0027],\n    \u0027full_access_allowed\u0027 =\u003E false,\n]);"},{"lang":"python","label":"Python","source":"# POST /v1/connected_apps/clients\nfrom stytch import B2BClient\nfrom stytch.consumer.models.connected_apps_clients import CreateRequestClientType\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.create(\n    client_type=CreateRequestClientType.FIRST_PARTY,\n    client_name=\u0022My Sample Client\u0022,\n    client_description=\u0022My sample client for testing out Connected Apps\u0022,\n    redirect_urls=[\u0022https://example.com/callback\u0022],\n    full_access_allowed=False,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# POST /v1/connected_apps/clients\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.create(\n  client_type: \u0022first_party\u0022,\n  client_name: \u0022My Sample Client\u0022,\n  client_description: \u0022My sample client for testing out Connected Apps\u0022,\n  redirect_urls: [\u0027https://example.com/callback\u0027],\n  full_access_allowed: false\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// POST /v1/connected_apps/clients\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::CreateRequestClientType;\nuse stytch::consumer::connected_apps_clients::CreateRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.create(\n        CreateRequest{\n            client_type: CreateRequestClientType::FIRST_PARTY,\n            client_name: Some(String::from(\u0022My Sample Client\u0022)),\n            client_description: Some(String::from(\u0022My sample client for testing out Connected Apps\u0022)),\n            redirect_urls: vec![\u0022https://example.com/callback\u0022],\n            full_access_allowed: false,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# POST /v1/connected_apps/clients\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -d \u0027{\n    \u0022client_type\u0022: \u0022first_party\u0022,\n    \u0022client_name\u0022: \u0022My Sample Client\u0022,\n    \u0022client_description\u0022: \u0022My sample client for testing out Connected Apps\u0022,\n    \u0022redirect_urls\u0022: [\u0022https://example.com/callback\u0022],\n    \u0022full_access_allowed\u0022: false\n  }\u0027"}]}},"/v1/connected_apps/clients/{client_id}/secrets/rotate/start":{"post":{"summary":"Rotatestart","operationId":"api_connectedapps_v1_connected_apps_clients_secrets_RotateStart","tags":["Clients"],"description":"Initiate the rotation of a Connected App client secret. After this endpoint is called, both the client\u0027s \u0060client_secret\u0060 and \u0060next_client_secret\u0060 will be valid. To complete the secret rotation flow, update all usages of \u0060client_secret\u0060 to \u0060next_client_secret\u0060 and call the Rotate Secret Endpoint to complete the flow.\nSecret rotation can be cancelled using the Cancel Secret Rotation endpoint.\n\n**Important:** This is the only time you will be able to view the generated \u0060next_client_secret\u0060 in the API response. Stytch stores a hash of the \u0060next_client_secret\u0060 and cannot recover the value if lost. Be sure to persist the \u0060next_client_secret\u0060 in a secure location. If the \u0060next_client_secret\u0060 is lost, you will need to trigger a secret rotation flow to receive another one.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartRequest"}}}},"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the client."},"description":"The ID of the client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.ConnectedApp.Clients.Secrets.RotateStart(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026secrets.RotateStartParams{\n\t\tClientID: \u0022${exampleM2MClientID}\u0022,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.RotateStart(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateStartRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        RotateStartRequest params = new RotateStartRequest();\n        params.setClientId(\u0022${exampleM2MClientID}\u0022);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotateStart(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateStartRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.secrets.rotateStart(\n                RotateStartRequest(\n                    clientId = \u0022${exampleM2MClientID}\u0022,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.connectedApp.clients.secrets.rotateStart(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Esecrets-\u003Erotate_start([\n    \u0027client_id\u0027 =\u003E \u0027${exampleM2MClientID}\u0027,\n]);"},{"lang":"python","label":"Python","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.secrets.rotate_start(\n    client_id=\u0022${exampleM2MClientID}\u0022,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.secrets.rotate_start(\n  client_id: \u0022${exampleM2MClientID}\u0022\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients_secrets::RotateStartRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.secrets.rotate_start(\n        RotateStartRequest{\n            client_id: \u0022${exampleM2MClientID}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate/start \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027"}]}},"/v1/connected_apps/clients/{client_id}/secrets/rotate/cancel":{"post":{"summary":"Rotatecancel","operationId":"api_connectedapps_v1_connected_apps_clients_secrets_RotateCancel","tags":["Clients"],"description":"Cancel the rotation of a Connected App client secret started with the Start Secret Rotation Endpoint. After this endpoint is called, the client\u0027s \u0060next_client_secret\u0060 is discarded and only the original \u0060client_secret\u0060 will be valid.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelRequest"}}}},"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the client."},"description":"The ID of the client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.ConnectedApp.Clients.Secrets.RotateCancel(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026secrets.RotateCancelParams{\n\t\tClientID: \u0022${exampleM2MClientID}\u0022,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.RotateCancel(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateCancelRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        RotateCancelRequest params = new RotateCancelRequest();\n        params.setClientId(\u0022${exampleM2MClientID}\u0022);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotateCancel(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateCancelRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.secrets.rotateCancel(\n                RotateCancelRequest(\n                    clientId = \u0022${exampleM2MClientID}\u0022,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.connectedApp.clients.secrets.rotateCancel(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Esecrets-\u003Erotate_cancel([\n    \u0027client_id\u0027 =\u003E \u0027${exampleM2MClientID}\u0027,\n]);"},{"lang":"python","label":"Python","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.secrets.rotate_cancel(\n    client_id=\u0022${exampleM2MClientID}\u0022,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.secrets.rotate_cancel(\n  client_id: \u0022${exampleM2MClientID}\u0022\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients_secrets::RotateCancelRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.secrets.rotate_cancel(\n        RotateCancelRequest{\n            client_id: \u0022${exampleM2MClientID}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate/cancel \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027"}]}},"/v1/connected_apps/clients/{client_id}/secrets/rotate":{"post":{"summary":"Rotate","operationId":"api_connectedapps_v1_connected_apps_clients_secrets_Rotate","tags":["Clients"],"description":"Complete the rotation of a Connected App client secret started with the Rotate Secret Start Endpoint.\nAfter this endpoint is called, the client\u0027s \u0060next_client_secret\u0060 becomes its \u0060client_secret\u0060 and the previous \u0060client_secret\u0060 will no longer be valid.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateRequest"}}}},"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the client."},"description":"The ID of the client."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.ConnectedApp.Clients.Secrets.Rotate(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026secrets.RotateParams{\n\t\tClientID: \u0022${exampleM2MClientID}\u0022,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.Rotate(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateRequest;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        RotateRequest params = new RotateRequest();\n        params.setClientId(\u0022${exampleM2MClientID}\u0022);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotate(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateRequest\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.secrets.rotate(\n                RotateRequest(\n                    clientId = \u0022${exampleM2MClientID}\u0022,\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  client_id: \u0022${exampleM2MClientID}\u0022,\n};\n\nclient.connectedApp.clients.secrets.rotate(params)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Econnected_app-\u003Eclients-\u003Esecrets-\u003Erotate([\n    \u0027client_id\u0027 =\u003E \u0027${exampleM2MClientID}\u0027,\n]);"},{"lang":"python","label":"Python","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.connected_app.clients.secrets.rotate(\n    client_id=\u0022${exampleM2MClientID}\u0022,\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.connected_app.clients.secrets.rotate(\n  client_id: \u0022${exampleM2MClientID}\u0022\n  \n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients_secrets::RotateRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.connected_app.clients.secrets.rotate(\n        RotateRequest{\n            client_id: \u0022${exampleM2MClientID}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027"}]}},"/v1/b2b/scim/{organization_id}/connection/{connection_id}":{"put":{"summary":"Update","operationId":"api_b2b_scim_v1_b2b_scim_connection_Update","tags":["B2B Scim"],"description":"Update a SCIM Connection.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_UpdateRequest"}}}},"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},"description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the SCIM connection."},"description":"The ID of the SCIM connection."},{"name":"X-Stytch-Member-Session","in":"header","required":false,"description":"A Stytch session that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}},{"name":"X-Stytch-Member-SessionJWT","in":"header","required":false,"description":"A Stytch Session JSON Web Token (JWT) that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_UpdateResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n  display_name: \u0022Example SCIM connection\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.SCIM.Connection.Update(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/scim/connection\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/methodoptions\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026connection.UpdateParams{\n\t\tOrganizationID: \u0022${organizationId}\u0022,\n\t\tConnectionID:   \u0022${scimConnectionId}\u0022,\n\t\tDisplayName:    \u0022Example SCIM connection\u0022,\n\t}\n\n\toptions := \u0026connection.UpdateParamsOptions{\n\t\tAuthorization: methodoptions.Authorization{\n\t\t\tSessionToken: \u0022${sessionToken}\u0022,\n\t\t},\n\t}\n\n\tresp, err := client.SCIM.Connection.Update(context.Background(), params, options)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example;\n\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequest;\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequestOptions;\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\nimport com.stytch.java.common.StytchResult;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        UpdateRequest params = new UpdateRequest();\n        params.setOrganizationId(\u0022${organizationId}\u0022);\n        params.setConnectionId(\u0022${scimConnectionId}\u0022);\n        params.setDisplayName(\u0022Example SCIM connection\u0022);\n\n        UpdateRequestOptions options = new UpdateRequestOptions();\n        Authorization authorization = new Authorization();\n        authorization.setSessionToken(\u0022${sessionToken}\u0022);\n        options.setAuthorization(authorization);\n\n        Object result = StytchB2BClient.getSCIM().getConnection().update(params, options);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequest\nimport com.stytch.java.b2b.models.scimconnection.UpdateRequestOptions\nimport com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.scim.connection.update(\n                UpdateRequest(\n                    organizationId = \u0022${organizationId}\u0022,\n                    connectionId = \u0022${scimConnectionId}\u0022,\n                    displayName = \u0022Example SCIM connection\u0022,\n                ),\n                UpdateRequestOptions(\n                    Authorization(\n                        sessionToken = \u0022${sessionToken}\u0022,\n                    ),\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n  display_name: \u0022Example SCIM connection\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.scim.connection.update(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Escim-\u003Econnection-\u003Eupdate([\n    \u0027organization_id\u0027 =\u003E \u0027${organizationId}\u0027,\n    \u0027connection_id\u0027 =\u003E \u0027${scimConnectionId}\u0027,\n    \u0027display_name\u0027 =\u003E \u0027Example SCIM connection\u0027,\n], [\n        \u0027authorization\u0027 =\u003E [\u0027session_token\u0027 =\u003E \u0027${sessionToken}\u0027],\n\n]);"},{"lang":"python","label":"Python","source":"# PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\nfrom stytch import B2BClient\nfrom stytch.b2b.models.scim_connection import UpdateRequestOptions\nfrom stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.scim.connection.update(\n    organization_id=\u0022${organizationId}\u0022,\n    connection_id=\u0022${scimConnectionId}\u0022,\n    display_name=\u0022Example SCIM connection\u0022,\n    method_options=UpdateRequestOptions(\n        authorization=Authorization(\n            session_token=\u0022${sessionToken}\u0022,\n        ),\n    ),\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.scim.connection.update(\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n  display_name: \u0022Example SCIM connection\u0022,\n  method_options: StytchB2B::SCIM::Connection::UpdateRequestOptions.new(\n    authorization: Stytch::MethodOptions::Authorization.new(session_token: \u0027${sessionToken}\u0027)\n  )\n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\nuse stytch::b2b::client::Client;\nuse stytch::b2b::scim_connection::UpdateRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.scim.connection.update(\n        UpdateRequest{\n            organization_id: \u0022${organizationId}\u0022,\n            connection_id: \u0022${scimConnectionId}\u0022,\n            display_name: Some(String::from(\u0022Example SCIM connection\u0022)),\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# PUT /v1/b2b/scim/{organization_id}/connection/{connection_id}\ncurl --request PUT \\\n  --url https://test.stytch.com/v1/b2b/scim/${organizationId}/connection/${scimConnectionId} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0022X-Stytch-Member-Session: ${sessionToken}\u0022 \\\n  -d \u0027{\n    \u0022display_name\u0022: \u0022Example SCIM connection\u0022\n  }\u0027"}]},"delete":{"summary":"Delete","operationId":"api_b2b_scim_v1_b2b_scim_connection_Delete","tags":["B2B Scim"],"description":"Deletes a SCIM Connection.","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},"description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the SCIM connection."},"description":"The ID of the SCIM connection."},{"name":"X-Stytch-Member-Session","in":"header","required":false,"description":"A Stytch session that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}},{"name":"X-Stytch-Member-SessionJWT","in":"header","required":false,"description":"A Stytch Session JSON Web Token (JWT) that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_DeleteResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.SCIM.Connection.Delete(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/scim/connection\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/methodoptions\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026connection.DeleteParams{\n\t\tOrganizationID: \u0022${organizationId}\u0022,\n\t\tConnectionID:   \u0022${scimConnectionId}\u0022,\n\t}\n\n\toptions := \u0026connection.DeleteParamsOptions{\n\t\tAuthorization: methodoptions.Authorization{\n\t\t\tSessionToken: \u0022${sessionToken}\u0022,\n\t\t},\n\t}\n\n\tresp, err := client.SCIM.Connection.Delete(context.Background(), params, options)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example;\n\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequest;\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequestOptions;\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\nimport com.stytch.java.common.StytchResult;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        DeleteRequest params = new DeleteRequest();\n        params.setOrganizationId(\u0022${organizationId}\u0022);\n        params.setConnectionId(\u0022${scimConnectionId}\u0022);\n\n        DeleteRequestOptions options = new DeleteRequestOptions();\n        Authorization authorization = new Authorization();\n        authorization.setSessionToken(\u0022${sessionToken}\u0022);\n        options.setAuthorization(authorization);\n\n        Object result = StytchB2BClient.getSCIM().getConnection().delete(params, options);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequest\nimport com.stytch.java.b2b.models.scimconnection.DeleteRequestOptions\nimport com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.scim.connection.delete(\n                DeleteRequest(\n                    organizationId = \u0022${organizationId}\u0022,\n                    connectionId = \u0022${scimConnectionId}\u0022,\n                ),\n                DeleteRequestOptions(\n                    Authorization(\n                        sessionToken = \u0022${sessionToken}\u0022,\n                    ),\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.scim.connection.delete(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Escim-\u003Econnection-\u003Edelete([\n    \u0027organization_id\u0027 =\u003E \u0027${organizationId}\u0027,\n    \u0027connection_id\u0027 =\u003E \u0027${scimConnectionId}\u0027,\n], [\n        \u0027authorization\u0027 =\u003E [\u0027session_token\u0027 =\u003E \u0027${sessionToken}\u0027],\n\n]);"},{"lang":"python","label":"Python","source":"# DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\nfrom stytch import B2BClient\nfrom stytch.b2b.models.scim_connection import DeleteRequestOptions\nfrom stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.scim.connection.delete(\n    organization_id=\u0022${organizationId}\u0022,\n    connection_id=\u0022${scimConnectionId}\u0022,\n    method_options=DeleteRequestOptions(\n        authorization=Authorization(\n            session_token=\u0022${sessionToken}\u0022,\n        ),\n    ),\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.scim.connection.delete(\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n  method_options: StytchB2B::SCIM::Connection::DeleteRequestOptions.new(\n    authorization: Stytch::MethodOptions::Authorization.new(session_token: \u0027${sessionToken}\u0027)\n  )\n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\nuse stytch::b2b::client::Client;\nuse stytch::b2b::scim_connection::DeleteRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.scim.connection.delete(\n        DeleteRequest{\n            organization_id: \u0022${organizationId}\u0022,\n            connection_id: \u0022${scimConnectionId}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# DELETE /v1/b2b/scim/{organization_id}/connection/{connection_id}\ncurl --request DELETE \\\n  --url https://test.stytch.com/v1/b2b/scim/${organizationId}/connection/${scimConnectionId} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0022X-Stytch-Member-Session: ${sessionToken}\u0022"}]},"get":{"summary":"Getgroups","operationId":"api_b2b_scim_v1_b2b_scim_connection_GetGroups","tags":["B2B Scim"],"description":"Gets a paginated list of all SCIM Groups associated with a given Connection.","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},"description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the SCIM connection."},"description":"The ID of the SCIM connection."},{"name":"cursor","in":"query","required":false,"schema":{"type":"string","description":"The \u0060cursor\u0060 field allows you to paginate through your results. Each result array is limited to 1000 results. If your query returns more than 1000 results, you will need to paginate the responses using the \u0060cursor\u0060. If you receive a response that includes a non-null \u0060next_cursor\u0060 in the \u0060results_metadata\u0060 object, repeat the search call with the \u0060next_cursor\u0060 value set to the \u0060cursor\u0060 field to retrieve the next page of results. Continue to make search calls until the \u0060next_cursor\u0060 in the response is null."}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0,"description":"The number of search results to return per page. The default limit is 100. A maximum of 1000 results can be returned by a single search request. If the total size of your result set is greater than one page size, you must paginate the response. See the \u0060cursor\u0060 field."}},{"name":"X-Stytch-Member-Session","in":"header","required":false,"description":"A Stytch session that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}},{"name":"X-Stytch-Member-SessionJWT","in":"header","required":false,"description":"A Stytch Session JSON Web Token (JWT) that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_GetGroupsResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.SCIM.Connection.GetGroups(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage main\n\nimport (\n\t\u0022context\u0022\n\t\u0022log\u0022\n\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/b2b/scim/connection\u0022\n\t\u0022github.com/stytchauth/stytch-go/v17/stytch/methodoptions\u0022\n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\u0022${projectId}\u0022,\n\t\t\u0022${secret}\u0022,\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error instantiating client: %v\u0022, err)\n\t}\n\n\tparams := \u0026connection.GetGroupsParams{\n\t\tOrganizationID: \u0022${organizationId}\u0022,\n\t\tConnectionID:   \u0022${scimConnectionId}\u0022,\n\t}\n\n\toptions := \u0026connection.GetGroupsParamsOptions{\n\t\tAuthorization: methodoptions.Authorization{\n\t\t\tSessionToken: \u0022${sessionToken}\u0022,\n\t\t},\n\t}\n\n\tresp, err := client.SCIM.Connection.GetGroups(context.Background(), params, options)\n\tif err != nil {\n\t\tlog.Fatalf(\u0022error in method call: %v\u0022, err)\n\t}\n\n\tlog.Println(resp)\n}\n"},{"lang":"java","label":"Java","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example;\n\nimport com.stytch.java.b2b.models.scimconnection.GetGroupsRequest;\nimport com.stytch.java.b2b.models.scimconnection.GetGroupsRequestOptions;\nimport com.stytch.java.b2b.StytchB2BClient;\nimport com.stytch.java.common.methodoptions.Authorization;\nimport com.stytch.java.common.StytchResult;\n\npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\u0022${projectId}\u0022, \u0022${secret}\u0022);\n\n        GetGroupsRequest params = new GetGroupsRequest();\n        params.setOrganizationId(\u0022${organizationId}\u0022);\n        params.setConnectionId(\u0022${scimConnectionId}\u0022);\n\n        GetGroupsRequestOptions options = new GetGroupsRequestOptions();\n        Authorization authorization = new Authorization();\n        authorization.setSessionToken(\u0022${sessionToken}\u0022);\n        options.setAuthorization(authorization);\n\n        Object result = StytchB2BClient.getSCIM().getConnection().getGroups(params, options);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"},{"lang":"kotlin","label":"Kotlin","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport com.stytch.java.b2b.models.scimconnection.GetGroupsRequest\nimport com.stytch.java.b2b.models.scimconnection.GetGroupsRequestOptions\nimport com.stytch.java.common.methodoptions.Authorization\n\nfun main() {\n    StytchB2BClient.configure(\n        projectId = \u0022${projectId}\u0022,\n        secret = \u0022${secret}\u0022,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.scim.connection.getGroups(\n                GetGroupsRequest(\n                    organizationId = \u0022${organizationId}\u0022,\n                    connectionId = \u0022${scimConnectionId}\u0022,\n                ),\n                GetGroupsRequestOptions(\n                    Authorization(\n                        sessionToken = \u0022${sessionToken}\u0022,\n                    ),\n                ),\n            )\n    ) {\n        is StytchResult.Success -\u003E println(result.value)\n        is StytchResult.Error -\u003E println(result.exception)\n    }\n}\n"},{"lang":"javascript","label":"Node.js","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.scim.connection.getGroups(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"php","label":"PHP","source":"$response = $client-\u003Escim-\u003Econnection-\u003Eget_groups([\n    \u0027organization_id\u0027 =\u003E \u0027${organizationId}\u0027,\n    \u0027connection_id\u0027 =\u003E \u0027${scimConnectionId}\u0027,\n], [\n        \u0027authorization\u0027 =\u003E [\u0027session_token\u0027 =\u003E \u0027${sessionToken}\u0027],\n\n]);"},{"lang":"python","label":"Python","source":"# GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\nfrom stytch import B2BClient\nfrom stytch.b2b.models.scim_connection import GetGroupsRequestOptions\nfrom stytch.shared.method_options import Authorization\n\nclient = B2BClient(\n    project_id=\u0022${projectId}\u0022,\n    secret=\u0022${secret}\u0022,\n)\n\nresp = client.scim.connection.get_groups(\n    organization_id=\u0022${organizationId}\u0022,\n    connection_id=\u0022${scimConnectionId}\u0022,\n    method_options=GetGroupsRequestOptions(\n        authorization=Authorization(\n            session_token=\u0022${sessionToken}\u0022,\n        ),\n    ),\n)\n\nprint(resp)\n"},{"lang":"ruby","label":"Ruby","source":"# GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\nrequire \u0027stytch\u0027\n\nclient = StytchB2B::Client.new(\n  project_id: \u0022${projectId}\u0022,\n  secret: \u0022${secret}\u0022\n)\n\nresp = client.scim.connection.get_groups(\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n  method_options: StytchB2B::SCIM::Connection::GetGroupsRequestOptions.new(\n    authorization: Stytch::MethodOptions::Authorization.new(session_token: \u0027${sessionToken}\u0027)\n  )\n)\n\nputs resp"},{"lang":"rust","label":"Rust","source":"// GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\nuse stytch::b2b::client::Client;\nuse stytch::b2b::scim_connection::GetGroupsRequest;\n\nfn main() {\n    let client = Client::new(\u0022${projectId}\u0022, \u0022${secret}\u0022).unwrap();\n    let resp = client.scim.connection.get_groups(\n        GetGroupsRequest{\n            organization_id: \u0022${organizationId}\u0022,\n            connection_id: \u0022${scimConnectionId}\u0022,\n            ..Default::default()\n        }\n    ).await;\n    println!(\u0022The response is {:?}\u0022, resp);\n}"},{"lang":"bash","label":"cURL","source":"# GET /v1/b2b/scim/{organization_id}/connection/{connection_id}\ncurl --request GET \\\n  --url https://test.stytch.com/v1/b2b/scim/${organizationId}/connection/${scimConnectionId} \\\n  -u \u0027${projectId}:${secret}\u0027 \\\n  -H \u0027Content-Type: application/json\u0027 \\\n  -H \u0022X-Stytch-Member-Session: ${sessionToken}\u0022"}]}},"/v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/start":{"post":{"summary":"Rotatestart","operationId":"api_b2b_scim_v1_b2b_scim_connection_RotateStart","tags":["B2B Scim"],"description":"Start a SCIM token rotation.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateStartRequest"}}}},"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},"description":"Globally unique UUID that identifies a specific Organization. The \u0060organization_id\u0060 is critical to perform operations on an Organization, so be sure to preserve this value. You may also use the organization_slug or organization_external_id here as a convenience."},{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the SCIM connection."},"description":"The ID of the SCIM connection."},{"name":"X-Stytch-Member-Session","in":"header","required":false,"description":"A Stytch session that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}},{"name":"X-Stytch-Member-SessionJWT","in":"header","required":false,"description":"A Stytch Session JSON Web Token (JWT) that can be used to run the request with the given member\u0027s permissions.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_b2b_scim_v1_b2b_scim_connection_RotateStartResponse"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"status_code":401,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"unauthorized_credentials","error_message":"Unauthorized credentials.","error_url":"https://stytch.com/docs/api/errors/401"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"example":{"status_code":429,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"too_many_requests","error_message":"Too many requests have been made.","error_url":"https://stytch.com/docs/api/errors/429"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"status_code":500,"request_id":"request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141","error_type":"internal_server_error","error_message":"Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.","error_url":"https://stytch.com/docs/api/errors/500"}}}}},"x-code-samples":[{"lang":"csharp","label":"C#","source":"// POST /v1/b2b/scim/{organization_id}/connection/{connection_id}/rotate/start\nconst stytch = require(\u0027stytch\u0027);\n\nconst client = new stytch.B2BClient({\n  project_id: \u0027${projectId}\u0027,\n  secret: \u0027${secret}\u0027,\n});\n\nconst params = {\n  organization_id: \u0022${organizationId}\u0022,\n  connection_id: \u0022${scimConnectionId}\u0022,\n};\n\nconst options = {\n  authorization: {\n    session_token: \u0027${sessionToken}\u0027,\n  },\n};\n\nclient.SCIM.Connection.RotateStart(params, options)\n  .then(resp =\u003E { console.log(resp) })\n  .catch(err =\u003E { console.log(err) });"},{"lang":"go","label":"Go","source":"// POST /v1/b2b/scim/{organizat
[...]
